<div class="mx-auto container">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mb-5">
      <div class="card">
        <div class="card-body py-3">

          <div class="text-center">
            <h3>Sign up</h3>
            <p class="text-muted">Sign up with your social media account</p>
            <div class="social-btn text-center">
              <a href="#" class="btn btn-primary btn-lg" title="Facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="btn btn-info btn-lg" title="Twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" class="btn btn-danger btn-lg" title="Google"><i class="fab fa-google"></i></a>
            </div>
            <div class="or-separator">
              <b>or</b>
            </div>
          </div>

          <form class="form-signin">
            <input type="text" id="firstname" class="form-control" placeholder="First name"
                   required autofocus>
            <input type="text" id="lastname" class="form-control" placeholder="Last name"
                   required autofocus>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                   required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="custom-control custom-checkbox my-3 mr-sm-2 text-muted">
              <small>
                <input type="checkbox" class="custom-control-input" id="customControl">
                <label class="custom-control-label" for="customControl">
                  I understand and agree with scoremylandlord.com's
                  <a [routerLink]="['/']">Terms and Conditions.</a></label>
              </small>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">
              Register
            </button>
          </form><!-- /form -->
        </div>
        <div class="card-footer text-muted">
          Already a member? <a [routerLink]="['/login']">Sign in</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!--<div class="border-bottom mb-5"><h5>Sign up via</h5></div>-->
      <!--<ul class="list-unstyled list-social">-->
      <!--<li>-->
      <!--<a href="#" class="btn btn-block btn-google mb-2">-->
      <!--<i class="fab fa-google">&nbsp;</i>-->
      <!--<span class="">Google</span>-->
      <!--</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#" class="btn btn-block btn-facebook mb-2">-->
      <!--<i class="fab fa-facebook">&nbsp;</i>-->
      <!--<span class="">Facebook</span>-->
      <!--</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#" class="btn btn-block btn-twitter">-->
      <!--<i class="fab fa-twitter"></i>-->
      <!--<span class="">Twitter</span>-->
      <!--</a>-->
      <!--</li>-->
      <!--</ul>-->
    </div>
  </div>


</div>
